<div class="row">
  <div class="col-lg-8 p-5">
    <h1>List of Restaurants</h1>

    <ul>
      <% @restaurants.each do |restaurant| %>
        <li class="card mt-3 p-2 form-control-lg"><%= restaurant.name %></li>
      <% end %>
    </ul>
  </div>
</div>