<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>
<h4>Reviews: </h4> 
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <p>Rating: </p>
      <%= review.rating %>
      <p>Description: </p>
      <%= review.content %>
    </li>
  <% end %>
</ul>